.com{
	width:982px;
	margin:0 auto;
}


/* head */
.head_wap{
	width:100%;
	background:#fafafa;
}
.head{
	height:29px;
}
.head ._left{
	float:left;
	height:29px;
}
.head ._left h5{
	line-height:29px;
	color:#5d6363;
	font-size :12px;
	font-weight:bold;
}
.head ._left h5 span{
	color:red;
	font-weight: bold;
}
.head ._left h5 a span:hover{
	color:rgb(255,0,0,0.5);
}
.head ._right{
	float:right;
	height:29px;
	width:456px;
}
.head ._right ul li {
	float:left;
	width:76px;
	line-height: 29px;
}
.head ._right ul li img{
	display:inline-block;
}
.head ._right ul li a{
	padding-left:5px;
}

/* head1 */

.head1_wap{
	width:100%;
	background:#ffffff;
}
.head1{
	height:81px;
}
.head1 ._l{
	float:left;
}
.head1 ._l img{
	height:81px;
}
.head1 ._r{
	float:left;
	width:480px;
	padding-left:50px;
	height:81px;
}
.head1 ._r input:nth-child(1){
	border:2px solid #fe6b1d;
	height:24px;
	width:354px;
	margin-top:18px;
	border-right:none;
	float:left;
}
.head1 ._r input:nth-child(2){
	height:30px;
	float:left;
	margin-top:18px;
}
.head1 ._r p{
	clear:both;
	padding-top:5px;
	color:#72656f;
	font-weight:bold;
}
.head1 ._r p span{
	color:#fe6b1d;
}


/* nav */

.nav_wap{
	width:100%;
	background:#ffffff;
}
.nav{
	height:36px;
	background:#fe6b1d;
}
.nav ._le{
	float:left;
	width:220px;
	
}
.nav ._le h5{
	line-height: 36px;
	color:white;
	font-weight:bold;
	margin-left:30px;
}
.nav ._le img{
	display:inline-block;
	margin-left:65px;
}
.nav ._ri{
	float:left;
	width:610px;
}
.nav ._ri li{
	float:left;
	padding-left:25px;
	line-height: 36px;
}
.nav ._ri li img{
	display:inline-block;
	vertical-align:middle;
	padding-left:15px;
}
.nav ._ri li a{
	color:white;
	font-weight:bold;
}


/* banner */

.banner_wap{
	width:100%;
	background:#ffffff;
}
.banner{
	height:330px;
	border-bottom:2px solid #fe6b1d;
}
.banner ._lef{
	float:left;
	width:218px;
	height:318px;
	border:1px solid #f2f0f1;
	position:relative;
	
}
.banner ._lef ul{
	width:206px;
}
.banner ._lef ul li{
	height:37px;
	border-bottom:1px solid #f2f0f1;
	line-height:37px;
	padding-left:15px;
	font-weight:bold;
	box-sizing: border-box;
}
.banner ._lef ul li img{
	float:right;
	display:inline-block;
	padding-left:15px;
	padding-top:15px;
}
.banner ._ol{
	width:580px;
	height:294px;
	position:absolute;
	top:0;
	left:206px;
	border :1px solid #fe6b1d;
	border-left:none;
	display:none;
	background:white;
	z-index:9999999;
}
.banner ._ol ol li{
	width:500px;
	border-bottom: 1px dashed #f2f0f1;
	margin-left:20px;
}
.banner ._ol ol li p{
	display:inline-block;
	width:80px;
	line-height:40px;
	
}
.banner ._ol ol li p span{
	color:red;
	font-weight:bold;
}
.banner ._cen{
	float:left;
	width:565px;
	height:320px;
	margin-left:6px;
}
.banner ._cen ._top{
	height:205px;
	position:relative;
}
.banner ._cen ._buttom img{
	display: inline;
	float:left;
}
	
.banner ._cen ._top ol li{
	position:absolute;
}
.banner ._cen .ab{
	position:absolute;
	width:40px;
	height:60px;
	color:white;
	top:40%;
	left:0;
	background:rgb(0,0,0,0.5);
	z-index:10;
	font-size:35px;
	line-height: 60px;
	text-align: center;
	display: none;
}
.banner ._cen .b{
	position:absolute;
	width:40px;
	height:60px;
	color:white;
	top:40%;
	left:520px;
	background:rgb(0,0,0,0.5);
	z-index:10;
	font-size:35px;
	line-height: 60px;
	text-align: center;
	display: none;

}
.banner ._cen ._top ul{
	position:relative;
	top:185px;
	left:220px;
	z-index:2;
}
.banner ._cen ._top ul li{
	float:left;
	width:33px;
	height:8px;
	margin:1px;
	background:rgb(0,0,0,0.5)
}

.banner ._cen ._top ul .active{
	background:rgb(255,0,0,0.5);
}

.banner ._rig{
	float:left;
	width:187px;
	height:320px;
}
.banner ._rig img:nth-child(1){
	height:91px;
	margin-bottom:8px;
}
.banner ._rig img:nth-child(2){
	height:212px;
	width:186px;
}


















































































